.material-icons,
.material-icons-outlined {
  vertical-align: middle;
  user-select: none;
  -moz-user-select: none;
  cursor: inherit;
}
body {
  padding-top: 120px;
}
.page-header {
  display: flex;
  justify-content: space-between;
}
table tr td:nth-child(2) {
  width: 9em;
}
table tr td:nth-child(3) {
  width: 60%;
}
table tr td:nth-child(4) {
  text-align: right;
}
form > div:last-child {
  display: flex;
  justify-content: end;
}
.form-control,
.form-select {
  --bs-color: rgba(0,0,0,.1);
  box-shadow: 0 0 0 1px var(--bs-color);
}
.form-control:hover,
.form-select:hover {
  --bs-color: rgba(0,0,0,.3);
}
ul.collection {
  margin: 2rem 0;
  padding: 0;
  list-style: none;
}
ul.collection li {
  background-color: #f6f6f6;
  display: flex;
  line-height: 3;
  padding: 0 1rem;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
ul.collection:hover li:not(:hover) {
  opacity: 0.7;
}
ul.collection li:nth-child(2n) {
  background-color: #e9e9e9;
}
ul.collection li > * {
  flex: 1;
  padding: 1ex;
}
ul.collection li > *:last-child {
  text-align: end;
}
tbody button {
  width: 100%;
}
