* {
  box-sizing: border-box
}

:root {
  --color1: #5D4A66;
  --color2: #6A5D7B;
  --color3: #749C75;
  --color4: #B2BD7E;
  --color5: #E9D985;
}

body, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

header {
  background-color: var(--color1);
  color: white;
  padding: 5px; 
}

header h1 {
  padding-bottom: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding-right: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 5px;
}
